:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    padding: 12px;
    flex: 1;
    display: flex;
    gap: 12px;

    .list-container {
        flex: 1;
    }

    .todo-container {
        flex: 3;
    }
}